h1 {
  font-size: 2.5rem;
  text-align: center;
  padding: 1rem;
  font-weight: 500;
  color: white;
}
a {
  color: rgb(0, 149, 190);
}

h2,
a {
  font-size: 1.3rem;
  font-weight: 500;
  text-transform: capitalize;
}
.container {
  max-width: 1250px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  h1 {
    text-align: center;
  }
}

.img-container {
  width: 100%;
  text-align: center;

  img {
    max-width: 300px;
    height: 300px;
    border-radius: 50%;
    width: 100%;
  }
}

.item {
  padding: 0.5rem;
  background-color: white;
  border-top: 5px solid rgb(0, 149, 190);
  border-radius: 5px 5px 0 0;
  p {
    padding-bottom: 0.7rem;
    font-size: 1.1rem;
    color: rgb(37, 21, 21);
  }
  button {
    border: none;
    color: red;
    background-color: white;
    font-weight: 600;
    font-size: 1.1rem;
    cursor: pointer;
  }
  h2 {
    color: rgb(37, 21, 21);
  }
}
.item1 {
  grid-column: 1/7;
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  border-top: 5px solid rgb(0, 149, 190);
  border-radius: 5px 5px 0 0;
  .nav {
    color: rgb(0, 149, 190);
    padding: 0.5rem;
  }
}
.item7 {
  grid-column: span 2;
  grid-row: span 2;
}
.item8 {
  grid-column: span 2;
  grid-row: span 6;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  button {
    text-align: left;
  }
}

.item9 {
  grid-column: span 2;
  grid-row: span 2;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  p {
    padding-left: 0.5rem;
  }
  h2 {
    padding-left: 0.5rem;
  }

  button {
    text-align: start;
    width: 100%;
    background-color: red;
    padding: 0.5rem;
    color: white;
  }
}
.item10 {
  grid-column: span 2;
  grid-row: span 4;
  .graph {
    text-align: center;
    img {
      width: 180px;
      height: 180px;
    }
  }
}
.item11 {
  grid-column: span 2;
  grid-row: span 2;
  padding: 0;
  h2 {
    padding: 0.5rem;
    background-color: rgb(0, 149, 190);
    color: white;
  }
  p,
  button {
    padding: 0.5rem;
  }
}
.item12 {
  grid-column: span 2;
  grid-row: span 2;
}

// media query
